<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="LogFolder" value="logs"/>
		<add key="LogFileName" value="DataSyphonLog_{0}.txt"/>
		<add key="RawTableCopySettings" value="Customers|false,Stock|false,Suppliers|false,TransactionLines|false,Transactions|true"/>
		<add key="StgTableCopySettings" value="customers|false,stock|false,stockinventorylevels|false,stockprices|false,transactionlines|false,transactions|true"/>
		<add key="CommandTimeout" value="300"/>
		<add key="NotifyAfterRows" value ="100000"/>
		<add key="StagingDatabaseName" value="exchequer_staging"/>
		<add key="CoreDatabaseName" value="stc_core"/>
		<add key="RawTablePrefix" value="raw_"/>
		<add key="StgTablePrefix" value="stg_"/>
	</appSettings>
	<connectionStrings>
		<add name="PSqlConnection" connectionString="Server DSN=STON01;Host=STCEXCHEQUER"/>
		<add name="MySqlConnection" connectionString="server=192.168.0.8;uid=StcDataUser;pwd=DataSyphon60!;database={0};AllowLoadLocalInfile=true"/>
	</connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>